body{
    margin:0;
    padding:0;
    line-height:1.5;
    background: #3654bf;
}

.calci{
    width: 500px;;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left:70%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
    /* background-color: black; */


}
#display{
 border: none;
 background: burlywood;
 border-radius: 30px;
 width:250;
 font-size: 20;
 font-family: sans-serif;
 font-weight: 300;
 height: 60px;;
 margin: auto;
 border: 2px solid wheat;
 color:black;

}
.btnDesign{
    width: 30px;
    height: 30px;
    padding-top:2px;
    border: none;
    font-size: 20;
    font-weight: 30;
    font-family:sans-serif;
    border-radius:30px;
    margin:2px;
    background: white;

}
.operatorDesign{
    width: 30px;
    height: 30px;
    padding-top:2px;
    border: none;
    font-size: 20;
    font-weight: 30;
    font-family:sans-serif;
    border-radius:30px;
    margin:2px;
    transition: 0.25px;
    cursor: pointer;
   background:burlywood;
   border: 2px solid wheat;


}
operatoDesign:hover{
    background: #00d0ff;

}
#zero{
    width: 65px;
    height: 30px;
    padding-top:2px;
    border: none;
    font-size: 20;
    font-weight: 30;
    font-family:sans-serif;
    border-radius:30px;
    margin:2px;
    background:burlywood;

}
h1{
color: white;
margin-top: 90px;
padding-left: 30%;
}
h2{
    color: white;
    margin-top: 30px;
    padding-left: 45%;   
}